html, body, div{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
body > div{
    border: 2px solid black;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    width: 20rem;
    border-radius: 20px;
    background-color: rgba(216, 231, 227, 0.75);
}

.side-bar1 {
    border-right: 2px solid black;
    height: 100%;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;

}
.side-bar2{
    border-left: 2px solid black;
    height: 100%;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}
p{
    font-size: 1.8rem;
    width: 10rem;
    text-align: center;
}
.mid-no{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: white;
}
