html, body, nav, main, ul, li, p{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: 2px solid red;
    width: 500px;
    font-size: 1.5rem;
}
li{
    padding: 20px 20px;
}
p{
    border: 2px solid red;
    width: 500px;
    padding: 20px 30px;
    font-size: 1.5rem;
}