
div{
    width: 400px;
    height: 200px;
    border: 10px dashed red;
    margin: 20px auto;
    box-sizing: border-box;
}

.three{
    width: 400px;
    height: 200px;
    border: 10px solid blue;
    background-image: url("https://cdn.shopify.com/s/files/1/0764/2541/files/Atherton_Front_1024x1024.jpg?v=1620004854");
    margin: 20px auto;
    /*background-repeat: no-repeat;*/
    background-size: cover;
    }
.two{
    width: 400px;
    height: 200px;
    border: 10px solid red;
    margin: 20px auto;
    box-sizing: border-box;
}

img{
    width: 300px;
    height: 300px;
    border: groove red 20px;
    border-radius: 300px;
}
.dogone{
    width: 300px;
    height: 500px;
    border: groove red 20px;
    border-radius: 300px;
}
.dogtwo{
    width: 300px;
    height: 300px;
    border: groove red 20px;
    border-radius: 300px;
}
.dogthree{
    width: 300px;
    height: 300px;
    border: groove red 20px;
    border-radius: 300px;
}