html, body, nav, ul, li, main, p{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    border: 2px solid black;
    float: left;
    padding: 20px 40px;
}
main {
    border: 2px solid black;
    width: 60%
}
body{
    margin: 20px 100px;
}

