body{
    max-width: 700px;
    margin: 20px auto;
}
nav{
    border: 2px solid black;
    float: left;
    width: 25%;
    box-sizing: border-box;
}
main{
    border: 2px solid black;
    float: right;
    width: 75%;
    box-sizing: border-box;
}
